.post-date{
	background: #f4f4f4;
	padding: 4px;
	margin: 3px 0;
	display: block;
}
.validation-error{
	color: red;
}

.title{
	color: firebrick;
}

.post-image{
	width: 100%;
}

.pagination-links{
	margin: 30px 0;
	display: flex;
	justify-content: center;
}

a.pagination-links{
	padding: 8px 13px;
	margin: 5px;
	background: #8ba8af;
	border: 1px #ccc solid;
}

.pagination-links strong{
	padding: 8px 13px;
	margin: 5px;
	background: #8ba8af;
	border: 1px #ccc solid;
}

